<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/submit/" method="post">
        
        {%csrf_token%}

          <label for="">Enter name:</label>
          <input type="text" name="username" id="">

          <label for="">Enter phoneno</label>
          <input type="number" name="phoneno">

          <input type="submit" value="Submit">

    </form>
   {%if username and phoneno %}

    <p>Value from form is {{username}}</p>
    <p>phoneno is {{phoneno}}</p>

   {%endif%}
    
</body>
</html> 